@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

/* Add a smooth scrolling effect to the document */
html {
    scroll-behavior: smooth;
}

nav {
    background-color: #247BA0;
}

.sidenav {
    background-color: #247BA0;
}

.sidenav li > a {
    color: #fafafa;
}

.clinic-logo {
    height: 100px;
    width: 100px;
    display: block;
    margin: auto;
    margin-top: 7rem;
}

.dropdown-content {
    background: #247BA0;
}

.dropdown-content li > a {
    color: #fafafa;
}

.dropdown-content li > a:hover {
    background: #16546e;
}

.slides h2 {
    font-family: 'Roboto', sans-serif;
    text-shadow: 0.125rem 0.125rem 0.313rem #343a40;
    color: #fff;
    font-weight: 700;
}

.slide-subh {
    font-family: 'Montserrat', sans-serif;
    color: #00234B;
}

#search-container {
    margin-top: 5rem;
}

.btn-slider {
    background-color: #F68C48;
}

#about-us {
    margin-top: 2.5;
    margin-bottom: 4rem;
}

/* style flash messages */
.flash-messages{
    color: #fafafa;
    font-family: 'Roboto', sans-serif;
    padding: 0.05rem 0.05rem 0.05rem 1rem;
    background-color: #70C1B3;
}

/* The hero image */
.doc-image {
    background: url(../images/doctor_smartphone.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.login-image {
    background: url(../images/woman_smarthphone.jpg) no-repeat center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.login-heading {
    margin: 2rem;
    font-family: 'Montserrat', sans-serif;
    color: #F18541;
    font-weight: 600;
    text-shadow: 0.1rem 0.1rem #343a40;
    letter-spacing: 0.12rem;
    font-size: 2.5rem;
}

#profile-heading {
    color: #F18541;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    text-shadow: 0.1rem 0.1rem #343a40;
    letter-spacing: 0.12rem;
}

.para-details {
    padding: 0.6rem;
    font-size: 1.5rem;
}

.patient-card {
    background-color: #B9DFD2;
    border-radius: 1rem;
    padding-bottom: 2rem;
}

a.edit-profile {
    color: #f18541;
    font-size: 1.1rem;
    font-weight: 500;
}

.fa-user-edit {
    font-size: 1.2rem;
}

.sign-btn {
    background-color: #F68C48;
    color: #ffffff;
    border: none;
    line-height: 1rem;
}

.sign-btn:hover,
.sign-btn:focus,
.sign-btn:active {
  background-color: #91CEB9 !important;
  border-color: #91CEB9 !important;
  box-shadow: 0.2rem 0.2rem #91c5ce !important;
  -webkit-box-shadow: 0.2rem 0.2rem #91CEB9 !important;
  border: 0.1rem solid;
}

/* overwrite slider indicator color */
.slider .indicators .indicator-item.active {
    background-color: #247BA0;
  }

/* overwrite Materialize card-action attribute */
.card-action a {
    text-align: center !important;
    font-size: 0.85rem;
    font-weight: bold;
    text-shadow: 0.05rem 0.05rem #000;;
}

.card-panel {
    border-radius: 1rem;
    padding: 1rem;
}

.card-title {
    color: #247BA0;
    font-family: 'Roboto', sans-serif;
    font-weight: 500 !important;
    font-size: 2rem !important;
    letter-spacing: 0.1rem;
}

.card-action a {
    margin-right: 0 !important;
}

#speciality {
    text-align: center;
}

#register-form {
    margin-top: 2rem;
}

#register-heading {
    margin-top: 3rem;
}

.btn-register {
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* parallax - code was sourced from: https://materializecss.com/parallax.html */
.parallax-container {
    height: 30rem ;
  }

.parallax-heading {
    position: absolute;
    top: 20%;
    font-family: 'Roboto', sans-serif;
    color: #F68C48;
    text-shadow: 0.1rem 0.1rem #282828;
    padding-left: 0.7rem;
    font-weight: bold;
}

/* footer styling*/
.page-footer {
    background-color: #247BA0;
    color: #ffffff;
    font-size: 1rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: 400;
  }

/* forces body to full height so footer can be positioned to bottom */
body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

/* Validate select option for a Materialize dropdown */
/* code was sourced from: https://stackoverflow.com/questions/34248898/how-to-validate-select-option-for-a-materialize-dropdown/38671029#38671029 */

select[required]:focus{
    outline: none !important;
}

select[required]{
    display: block;
    padding: 0;
    position: absolute;
    background: transparent;
    color: transparent;
    border: none;
    top: 0;
}

#map {
    height: 300px;
    width: 80%;
    margin: auto;
  }

#address {
    margin-bottom: 1rem;
}

/* Display full screen height */
.error-section {
    min-height: 85vh;
}

#error-heading > h5 {
    margin-top: 2.5rem;
    margin-bottom: 1rem;
    font-family: 'Montserrat', sans-serif;;
}

#home-btn {
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 5rem;
}

/* Media Queries */
/* Display on tablet devices */  
@media only screen 
  and (min-width : 768px) 
  and (max-width : 1024px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .parallax-heading {
        position: absolute;
        font-family: 'Roboto', sans-serif;
    }
}

/* Display on large devices */
@media screen 
  and (min-width: 1024px) {
    .brand-logo {
        padding-left: 1rem !important;
    }

    .parallax-heading {
        position: relative;
        margin-top: 3rem;
    }

    .btn-register {
        top: 45%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}