@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

nav {
    background-color: #247BA0;
}

.slides h2 {
    font-family: 'Roboto', sans-serif;
    text-shadow: 0.2rem 0.2rem #282828;
}

/* overwrite slider indicator color */
.slider .indicators .indicator-item.active {
    background-color: #247BA0;
  }
