{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col-12">
            <h4 class="center-align" id="profile-heading"> dr. {{ doctor.doctor_last_name }}'s <br> Profile</h4>
            <hr width="50%">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col s12 offset-m2 m8 offset-m2">
                <div class="card patient-card">
                    <div class="card-content">
                        <p class="para-details">
                            <img class="doctor-image center-align circle" src="{{ image_url }}">
                            <br>
                        </p>
                        <hr class="dotted-border">
                        <p class="para-details">
                            <strong>Title: </strong>
                            {{ title }}.
                            <br>
                        </p>
                        <hr class="dotted-border">
                        <p class="para-details">
                            <strong>First name: </strong>
                            {{ doctor_first_name }}
                            <br>
                        </p>
                        <hr class="dotted-border">
                        <p class="para-details">
                            <strong>Last name: </strong>
                            {{ doctor_last_name }}
                            <br>
                        </p>
                        <hr class="dotted-border">
                        <p class="para-details">
                            <strong>Email: </strong>
                            {{ doctor.email }}
                            <br>
                        </p>
                        <hr class="dotted-border">
                        <p class="para-details">
                            <strong>Phone: </strong>
                            {{ doctor.phone }}
                            <br>
                        </p>
                        <hr class="dotted-border">
                        <p class="para-details">
                            <strong>Speciality: </strong>
                            {{ doctor.speciality_name }}
                            <br>
                        </p>
                        <hr class="dotted-border">
                        <p class="para-details">
                            <strong>Experience: </strong>
                            {{ doctor.experience }}
                            <br>
                        </p>
                        <hr class="dotted-border">
                        <p class="para-details">
                            <strong>Visit type: </strong>
                            {{ doctor.visit_type }}
                            <br>
                        </p>
                        <hr class="dotted-border">
                        <p class="para-details">
                            <strong>About: </strong>
                            {{ doctor.about }}
                            <br>
                        </p>
                        <hr class="full-border">
                    </div>
                    <!--  Profile configuration buttons -->
                    <div class="row config-buttons">
                        <div class="profile-buttons right">
                            <!-- Edit button -->
                            <span>
                                <a class="edit-profile" href="{{ url_for('update_doctor_profile', email=session['email']) }}">
                                    <i class="fas fa-user-edit"></i>
                                    Edit Profile
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}