{% extends 'base.html' %}
{% set active_page = 'about' %}

{% block content %}
<!-- Parallax -->
	<div class="parallax-container">
		<div class="parallax">
			<img src="{{ url_for('static', filename='images/doctor_writing.jpg') }}">
		</div>
		<h3 class="parallax-heading center-align">Get the fastest access to the best doctors</h3>
		<a href="{{ url_for('register') }}" class="btn btn-large btn-register waves-effect">REGISTER</a>
	</div>
	<section id="about-us">
		<div class="container">
			<div class="row">
				<div class="col s12">
					<h3 class="center-align">About Us</h3>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col s12 center-align">
					<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s.<br>
					</p>
					<p>
					Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the.
					</p>
				</div>
			</div>
		</div>
		<!-- Parallax -->
		<div class="parallax-container">
			<div class="parallax">
				<img src="{{ url_for('static', filename='images/clinic_blur.jpg') }}">
			</div>
		</div>
		<div class="container">
			<div class="row">
				<div class="col s12 center-align">
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
				</div>
			</div>
		</div>
		<!-- Parallax -->
		<div class="parallax-container">
			<div class="parallax">
				<img src="{{ url_for('static', filename='images/clinic-about.jpg') }}" alt="doctor showing scan to the patient">
			</div>
		</div>
	</section>

	<!-- Map section -->
    <section id="map-section">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h3 class="center-align">Where to find us</h3>
                </div>
            </div>
			<div class="row">
				<div class="col s12 m6">
					<div id="address">
						<h5>Address:</h5>
						<span>Airmed Rd. 17</span><br>
						<span>South Dublin, Co. Dublin</span><br>
						<span>Ireland</span>
					</div>
				</div>
                <div class="col s12 m6">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </section>

{% endblock%}