{% extends 'base.html' %}
{% set active_page = 'about' %}

{% block content %}
	<!-- Parallax -->
	<div class="parallax-container">
		<div class="parallax">
			<img src="{{ url_for('static', filename='images/doctor_writing.jpg') }}">
		</div>
		<h2 class="parallax-heading center-align">Get the fastest access to the best doctors</h2>
		<a href="{{ url_for('register') }}" class="btn btn-large btn-register waves-effect">REGISTER</a>
	</div>

	<div class="row">
		<div class="col s12">
			<h3 class="center-align about-heading">OUR MISSION</h3>
		</div>
	</div>
	<div class="container">
		<div class="row">
			<div class="col s12">
				<p>
					Our mission to make quality healthcare affordable and accessible to everyone. 
					We believe in empowering our users with the most accurate, comprehensive, and curated 
					information and care, enabling them to make better healthcare decisions.
				</p>
				<p>
					Furthermore, our mission is to enable more personal, more affordable and more efficient ways of giving
					care that unleashes the expertise and creativity of our providers and supports the gathering of 
					patients and specialists at the times and places best suited to their needs.
				</p>	
			</div>
		</div>
	</div>
		<!-- Parallax -->
		<div class="parallax-container">
			<div class="parallax">
				<img src="{{ url_for('static', filename='images/clinic_blur.jpg') }}">
			</div>
		</div>
		<div class="container">
			<div class="row">
				<h3 class="col s12 center-align about-heading">World-Class Patient Care</h3>
			</div>
			<div class="row s12">
					<p>
						AIRMED CLINIC is consistently ranked among the top hospitals in Ireland.
						Our patients have access to a vast network of physicians, nearly all of whom are are leaders within their fields.
						Our patients rate their experiences with us very highly, with nearly all indicating they would be very 
						likely to recommend us to others. We also consistently achieve high ratings from professional organizations.
					</p>
					<p>
						AIRMED CLINIC was founded to serve our neighbors and those in need, a commitment that is just as strong today 
						as it was 10 years ago. Our community today extends far beyond Dublin's border. We partner with communities both 
						close to home and across oceans to build, improve and sustain health care delivery and increase the health and 
						well-being of those who live and work in these communities.
					</p>
				</div>
			</div>
		</div>
		<!-- Parallax -->
		<div class="parallax-container">
			<div class="parallax">
				<img src="{{ url_for('static', filename='images/clinic-about.jpg') }}" alt="doctor showing scan to the patient">
			</div>
		</div>
	</section>
	<!-- Top Specialities -->
	<section id="specialties">
		<div class="row">
			<div class="col s12">
				<h3 class="center-align about-heading">Our Top Specialties</h3>
			</div>
		</div>
		<div class="container">
			<div class="row" id="speciality">
				{% for speciality in specialities %}
					{% if loop.index is divisibleby 2 %}
					<div class="col s6 m3 l2 offset-l1">
						<div class="card">
							<div class="card-image">
								<img src="{{ speciality.icon_url }}">
								<a href="#"></a>
							</div>
							<div class="card-action">
								<a href="#">{{ speciality.speciality_name }}</a>
							</div>
						</div>
					</div>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</section>
	<!-- Map section -->
    <section id="map-section">
        <div class="container">
            <div class="row text-center">
                <div class="col-12">
                    <h3 class="center-align about-heading">Where to find us</h3>
                </div>
            </div>
			<div class="row">
				<div class="col s12 m6">
					<div id="address">
						<h5>Address:</h5>
						<span>Airmed Rd. 17</span><br>
						<span>South Dublin, Co. Dublin</span><br>
						<span>Ireland</span>
					</div>
				</div>
                <div class="col s12 m6">
                    <div id="map"></div>
                </div>
            </div>
        </div>
    </section>

{% endblock%}