{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block content %}

	<section id="appointment-section">
		<div class="container">
			<div class="row s12 center-align">
				<h3 class="login-heading center-align">Request an Appointment</h3>
			</div>
		</div>
		<div class="container">
			<div class="row s12">
				<p>	After you submit the form, a representative will call you back with the information you’ll need 
					to make an appointment. You may also speak with a representative directly Monday–Friday, 8:30 am
					to 5:00 pm by calling 0800-726-2000.
				</p>
			</div>
		</div>
		<div class="container">
			<div class="row s12">
				<form action="{{ url_for('appointment_request') }}" class="col s12" method="POST">
					<div class="row">
						<div class="input-field col s12 m6">
							<input type="text" name="first_name" id="first_name" placeholder="First Name" required>
						</div>
						<div class="input-field col s12 m6">
							<input type="text" name="last_name" id="last_name" placeholder="Last Name" required>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 m6">
							<input type="email" name="email" id="email" class="validate" placeholder="E-mail" 
							value="{{ user_email }}" required>
						</div>
						<div class="input-field col s12 m6">
							<input type="tel" name="telephone" id="telephone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="Phone format 123-123-1234" required>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12 m6">
							<input type="text" class="datepicker" placeholder="Date" required>
						</div>
						<div class="input-field col s12 m6">
							<select name="time" id="time">
								<option value="" disabled selected>Select time:</option>
								<option value="morning">Morning</option>
								<option value="afternoon">Afternoon</option>
							</select>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<select class="options" id="speciality_name" name="speciality_name" class="validate">
								<option value="" required disabled selected>Select speciality</option>
								{% for speciality in specialities %}
									<option value="{{ speciality.speciality_name }}">{{ speciality.speciality_name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>
					<div class="row">
						<div class="input-field col s12">
							<textarea class="materialize-textarea validate" name="message" id="message" rows="4" 
								minlength="5" maxlength="300" aria-label="Message" placeholder="Message" required></textarea>
						</div>
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn waves-effect btn-contact" name="action" aria-label="Submit the contact form">
							SUBMIT
						</button>
					</div>
				</form>
			</div>
		</div>
	</section>

{% endblock%}