{% extends 'base.html' %}
{% block content %}

    <!-- Specialist heading-->
    <div class="container">
        <div class="row">
            <div class="section-heading">
                <h3 class="main-heading center-align">LIST OF DOCTORS</h3>
            </div>
        </div>
    </div>
    {% for doctor in doctors %}
    <div class="container">
        <div class="row">
            <div class="col s12">
                <ul class="collection">
                    <li class="collection-item avatar">
                        <img src="{{ doctor.image_url }}" alt="doctor profile image" class="circle" id="doc-image">
                        <div id="doctor-details">
                            <h5 class="doctor-name"><strong>{{doctor.title}}. {{ doctor.doctor_first_name }} {{ doctor.doctor_last_name }}</strong></h5>
                            <p><strong>Speciality:</strong> {{ doctor.speciality_name }}</p>
                            <p><strong>Visit Types Available:</strong> {{ doctor.visit_type }}</p>
                            <span><strong>Experience:</strong> {{ doctor.experience }} years</span><br>
                            <hr>
                            <p><strong>About:</strong> {{ doctor.about }}</p> <br>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    {% endfor %}

{% endblock %}