{% extends 'base.html' %}
{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2> Doctor's Profile</h2>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="dashboard">
                <div class="profile-details">
                    <p><strong>First name: </strong>{{ doctor.doctor_first_name }}</p>
                    <p><strong>Last name: </strong>{{ doctor.doctor_last_name }}</p>
                    <p><strong>Email: </strong>{{ doctor.email }}</p>
                    <p><strong>Phone: </strong>{{ doctor.phone }}</p>
                    <p><strong>Speciality name: </strong>{{ doctor.speciality_name }}</p>
                    <p><strong>Experience: </strong>{{ doctor.experience }}</p>
                    <p><strong>About: </strong>{{ doctor.about }}</p>
                </div>
            </div>
        </div>
    </div>

{% endblock %}