{% extends 'base_login.html' %}
{% set active_page = 'login' %}

{% block content %}

     <!-- Doctor login -->
    <div class="doc-image">
        <div class="row">
            <form class="col s12" method="POST" action="{{ url_for('doctor_login') }}">
                <div class="card-panel left">
                    <h3 class="center-align login-heading">Doctor Log in</h3>
                        <!-- Username -->
                        <div class="input-field col s12">
                            <input  id="username" name="username" type="text" minlength="5" 
                                maxlength="15" class="validate" required>
                            <label for="username">Username</label>
                        </div>
                        <!-- Password -->
                        <div class="input-field col s12">
                            <input id="password" name="password" type="password" minlength="5" 
                                maxlength="15" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                            <label for="password">Password</label>
                        </div>
                        <div class="row">
                            <button type="submit" class="col s8 offset-s2 btn-large sign-btn center-align">
                                Log In <i class="fas fa-sign-in-alt"></i>
                            </button>
                        </div>
                </div>
            </form>
        </div>
    </div>

{% endblock %}
