{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block content %}
<!--Slider-->
	<div class="slider">
		<ul class="slides">
			<li>
				<img src="{{ url_for('static', filename='images/carousel-1.jpg') }}">
				<div class="caption right-align">
					<h2 class="slide-heading">Find your Doctor and schedule an appointment</h2>
					<h5 class="slide-subh">Airmed Health Clinic</h5>
					<a href="{{ url_for('register') }}" class="btn btn-slider waves-effect">REGISTER</a>
				</div>
			</li>
			<li>
        		<img src="{{ url_for('static', filename='images/carousel-2.jpg') }}">
        		<div class="caption left-align">
          			<h2 class="slide-heading">Exceptional Care through Research and Innovation</h2>
          			<h5 class="text-darken-2 slide-subh">Here's our small slogan</h5>
					<a href="{{ url_for('register') }}" class="btn btn-slider waves-effect">REGISTER</a>
        		</div>
      		</li>
      		<li>
		  		<img src="{{ url_for('static', filename='images/carousel-3.jpg') }}">
        		<div class="caption right-align">
					<h2 class="slide-heading">Safe. Trusted. HERE FOR YOU.</h2>
        			<h5 class="slide-subh">Here's our small slogan.</h5>
					<a href="{{ url_for('register') }}" class="btn btn-slider waves-effect">REGISTER</a>
        		</div>
      		</li>
    	</ul>
  	</div>
	  <div class="container">
		<div class="col s12 center-align">
			<h4 class="highlight">For all your healthcare needs</h4>
			<h5 class="highlight">Our doctors are going above and beyond to make sure that we are able to provide a safe,
				comfortable environment for all your healthcare needs.</h5>
		</div>
	</div>
	<section id="search-section">
		<div class="container">
			<div class="row center-align main-section">
				<i class="fas fa-user-md fa-3x icon" aria-hidden="true"></i>
				<div class="col-12">
					<div class="main-heading">
						<h3>FIND YOUR DOCTOR</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- Search feature -->
		<div class="container">
			<div class="col s12 center-align">
				<div class="row">
					<h6 class="search-heading">Use our smart search to find the best doctor suited for your healthcare needs</h6>
				</div>
			</div>
			<div class="row valign-wrapper center-align">
				<div class="input-field col s12">
					<select class="options" id="speciality_name" name="speciality_name" class="validate">
						<option value="" required disabled selected>Please select speciality</option>
						{% for speciality in specialities %}
							<option value="{{ speciality.speciality_name }}">{{ speciality.speciality_name }}</option>
						{% endfor %}
					</select>
				</div>
				<div class="col">
					<a href="{{ url_for('specialists') }}" class="btn btn-slider">GO</a>
				</div>
			</div>
		</div>
		<!-- Search by a specilatiy -->
		<div class="container" id="search-container">
			<div class="row card-panel grey lighten-5">
				<form action="{{ url_for('search') }}" method="POST" class="col s12">
					<div class="row">
						<div class="input-field col s12 m8">
							<i class="fas fa-search fa-2x icon prefix"></i>
							<input type="text" name="query" id="query" minlength="3" class="validate" required>
							<label for="query">Search for a doctor by name</label>
						</div>
						<div class="col s12 m4">
							<button type="submit" class="btn small">
								Search
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</section>
	<section id="why-section">
		<div class="container">
			<div class="row center-align main-section">
				<i class="fas fa-plus-square fa-3x icon" aria-hidden="true"></i>
				<div class="col-12">
					<div class="main-heading">
						<h3>WHY TO CHOOSE AIRMED?</h3>
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="col s12 m4">
				<div class="row center-align">
					<div class="card-container col s12 m4 center-align">
						<div class="main-content">
							<i class="fas fa-heartbeat fa-3x icon"></i>
						</div>
						<div class="title center-align">
							<h5>Patient-first</h5>
						</div>
						<div class="overlay-content center-align">
							<p>Patient-first is our long-term approach to transforming clinic services for the better</p>
						</div>
					</div>
					<div class="card-container col s12 m4 center-align">
						<div class="main-content">
							<i class="fas fa-hospital-user fa-3x icon"></i>
						</div>
						<div class="title center-align">
							<h5>Quality Care</h5>
						</div>
						<div class="overlay-content center-align">
							<p>Real-time access to patient data helps inform safety and efficacy results</p>
						</div>
					</div>
					<div class="card-container col s12 m4 center-align">
						<div class="main-content">
							<i class="fas fa-star-of-life fa-3x icon"></i>
						</div>
						<div class="title center-align">
							<h5>Our Expertise</h5>
						</div>
						<div class="overlay-content center-align">
							<p>All AIRMEDs are highly-trained, highly-qualified doctors</p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="card-container col s12 m4 center-align">
						<div class="main-content">
							<i class="fas fa-tachometer-alt fa-3x icon"></i>
						</div>
						<div class="title center-align">
							<h5>Fast and Easy</h5>
						</div>
						<div class="overlay-content center-align">
							<p>Schedule your appointment online 24/7 in just a few clicks</p>
						</div>
					</div>
					<div class="card-container col s12 m4 center-align">
						<div class="main-content">
							<i class="fas fa-lock-open fa-3x icon"></i>
						</div>
						<div class="title center-align">
							<h5>No Restrictions</h5>
						</div>
						<div class="overlay-content center-align">
							<p>See the doctor of your choice, not your insurance company’s</p>
						</div>
					</div>
					<div class="card-container col s12 m4 center-align">
						<div class="main-content">
							<i class="fas fa-certificate fa-3x icon"></i>
						</div>
						<div class="title center-align">
							<h5>No Suprises</h5>
						</div>
						<div class="overlay-content center-align">
							<p>One transparent and affordable price available only at AIRMED</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

{% endblock%}