{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block content %}
<!--Slider-->
	<div class="slider">
		<ul class="slides">
			<li>
				<img src="{{ url_for('static', filename='images/carousel-1.jpg') }}">
				<div class="caption right-align">
					<h2 class="slide-heading">Find your Doctor and schedule an appointment</h2>
					<h5 class="slide-subh">Airmed Health Clinic</h5>
					<a href="{{ url_for('register') }}" class="btn btn-slider waves-effect">REGISTER</a>
				</div>
			</li>
			<li>
        		<img src="{{ url_for('static', filename='images/carousel-2.jpg') }}">
        		<div class="caption left-align">
          			<h2 class="slide-heading">Exceptional Care through Research and Innovation</h2>
          			<h5 class="text-darken-2 slide-subh">Here's our small slogan</h5>
					<a href="{{ url_for('register') }}" class="btn btn-slider waves-effect">REGISTER</a>
        		</div>
      		</li>
      		<li>
		  		<img src="{{ url_for('static', filename='images/carousel-3.jpg') }}">
        		<div class="caption right-align">
					<h2 class="slide-heading">Safe. Trusted. HERE FOR YOU.</h2>
        			<h5 class="slide-subh">Here's our small slogan.</h5>
					<a href="{{ url_for('register') }}" class="btn btn-slider waves-effect">REGISTER</a>
        		</div>
      		</li>
    	</ul>
  	</div>
	<!--  -->
	<div class="container">
		<div class="row button-wrap">
			<div class="col s12">
				<a type="button" data-target="modal-contact" class="btn modal-trigger" id="btn-request" href="#modal-contact">
					Request an appointment<i class="fas fa-chevron-right fa-1x icon"></i>
				</a>
			</div>
				<!-- Resource: sourced from Materialize: https://materializecss.com/modals.html#! and custom styled -->
		</div>

		<!-- Modal Structure -->
		<div id="modal-contact" class="modal">
			<div id="modal-wrap">
				<h5 class="center-align">Contact Form</h5>
			</div>
			<form class="col s12" onsubmit="return sendMail(this);">
				<div class="row">
					<div class="input-field col s12 m6">
						<input type="text" name="first_name" id="first_name" placeholder="First Name" required>
					</div>
					<div class="input-field col s12 m6">
						<input type="text" name="last_name" id="last_name" placeholder="Last Name" required>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 m6">
						<input type="email" name="email" id="email" placeholder="E-mail Address" required>
					</div>
					<div class="input-field col s12 m6">
						<input type="tel" name="phone" id="phone" placeholder="Phone" required>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12 m6">
						<input type="text" class="datepicker" placeholder="Date" required>
					</div>
					<div class="input-field col s12 m6">
						<select name="time" id="time">
							<option value="" disabled selected>Select time:</option>
                        	<option value="morning">Morning</option>
                        	<option value="afternoon">Afternoon</option>
						</select>
					</div>
				</div>
				<div class="row">
					<div class="input-field col s12">
						<textarea class="materialize-textarea validate" name="message" id="message" rows="4" placeholder="Message" required></textarea>
					</div>
				</div>
				<div class="modal-footer">
					<a href="{{ url_for('logout') }}" class="modal-close waves-effect btn" aria-label="Submit the contact form">
						SUBMIT
					</a>
				</div>
			</form>
		</div>
	</div>

	<!-- Search feature -->
	<div class="container" id="search-container">
		<div class="row card-panel grey lighten-5">
			<form action="{{ url_for('specialists') }}" method="GET" class="col s12">
				<div class="input-field col s4 m6">
                    <i class="fas fa-search prefix"></i>
                    <input type="text" name="query" id="query" minlength="3" placeholder="Search Specialists" class="validate">
                    <label for="query"></label>
                </div>
				<div class="col s12 m4">
					<button type="submit" class="btn small">
						<i class="fas fa-search"></i> 
						Search
					</button>
				</div>
				<div class="row valign-wrapper center-align">
					<div class="input-field col s6">
						<select class="options" id="speciality_name" name="speciality_name" class="validate">
							<option value="" required disabled selected>Please select speciality</option>
							{% for speciality in specialities %}
								<option value="{{ speciality.speciality_name }}">{{ speciality.speciality_name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col s12 m4">
						<a href="{{ url_for('specialists') }}" class="btn btn-slider">GO</a>
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock%}