{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block content %}
<!--Slider-->
	<div class="slider">
		<ul class="slides">
			<li>
				<img src="{{ url_for('static', filename='images/carousel-1.jpg') }}">
				<div class="caption right-align">
					<h2 class="slide-heading">Find your Doctor and schedule an appointment</h2>
					<h5 class="slide-subh">Airmed Health Clinic</h5>
					<a href="{{ url_for('register') }}" class="btn btn-slider waves-effect">REGISTER</a>
				</div>
			</li>
			<li>
        		<img src="{{ url_for('static', filename='images/carousel-2.jpg') }}">
        		<div class="caption left-align">
          			<h2 class="slide-heading">Exceptional Care through Research and Innovation</h2>
          			<h5 class="text-darken-2 slide-subh">Here's our small slogan</h5>
					<a href="{{ url_for('register') }}" class="btn btn-slider waves-effect">REGISTER</a>
        		</div>
      		</li>
      		<li>
		  		<img src="{{ url_for('static', filename='images/carousel-3.jpg') }}">
        		<div class="caption right-align">
					<h2 class="slide-heading">Safe. Trusted. HERE FOR YOU.</h2>
        			<h5 class="slide-subh">Here's our small slogan.</h5>
					<a href="{{ url_for('register') }}" class="btn btn-slider waves-effect">REGISTER</a>
        		</div>
      		</li>
    	</ul>
  	</div>
	  <!-- Search feature -->
	<div class="container" id="search-container">
		<div class="row card-panel grey lighten-5">
			<form action="{{ url_for('search') }}" method="POST" class="col s12">
				<div class="row valign-wrapper center-align">
					<div class="input-field col s6">
						<select class="options" id="speciality_name" name="speciality_name" required class="validate">
							<option value="" required disabled selected>Please select speciality</option>
							{% for speciality in specialities %}
								<option value="{{ speciality.speciality_name }}">{{ speciality.speciality_name }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="col s12 m4">
						<a href="{{ url_for('search') }}" class="btn btn-slider">GO</a>
					</div>
				</div>
			</form>
		</div>
	</div>

{% endblock%}