{% extends 'base.html' %}
{% block content %}

    <div class="row">
        <div class="col s12 m8 offset-m2">
            <div class="card-panel">
                <h3 class="center-align">
                    {{ username }}'s Profile
                </h3>
            </div>
        </div>
    </div>

{% endblock %}


    <h2>Profile</h2>

    {% for doctor in doctors %}
        {{ doctor.title }}
        {{ doctor.doctor_first_name }}
        {{ doctor.doctor_last_name }}<br>
        {{ doctor.speciality_name }}<br>
        {{ doctor.about }}<br>
        {{ doctor.experience }}<br>
        {{ doctor.working_days }}<br>
    {% endfor %}