{% extends 'base.html' %}
{% set active_page = 'profile' %}

{% block content %}

    <div class="row">
        <div class="col s12">
            <h4 class="center-align" id="profile-heading">Edit {{user.first_name}}'s Profile</h4>
            <hr width="50%">
        </div>
    </div>
    <div class="row">
        <form class="col s6 offset-s3" method="POST" action="{{ url_for('update_profile', username=session['user']) }}">
            <div class="row">
                <div class="input-field col s6">
                    <select class="options" id="gender" name="gender" required class="validate">
                        <label for="gender">Gender</label>
                        <option value="" required disabled selected>Please select gender</option>
                        {% for gen in gender %}
                            <option value="{{ gen.sex }}">{{ gen.sex }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <!-- Enter Age -->
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="age" name="age" class="form-control" required value="{{ age }}"><br>
                    <label for="age">Age</label>
                </div>
            </div>
            <!-- Email -->
            <div class="row">
                <div class="input-field col s6">
                    <input type="text" id="email" name="email" value="{{ user.email }}" class="validate" required>
                    <label for="email">Email</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s6">
                    <input id="telephone" name="telephone" type="tel" value="{{ user.telephone }}" placeholder="Phone" pattern="[0-9]{8}" class="validate" required>
                    <label for="Phone">Phone</label>
                </div>
            </div>
            <!-- Update profile and cancel buttons-->
            <div class="row s12">
                <div class="row s6">
                    <div class="btn-profile">
                        <button type="submit" class="btn btn-submit"><strong>Update Profile</strong></button>
                    </div>
                    <div class="btn-profile">
                        <a href="{{ url_for('profile', username=session['user']) }}" class="btn cancel-button">Cancel</a>
                    </div>
                </div>
            </div>
        </form>
    </div>
    
    <!-- Back to Profile -->
    <div class="row">
        <div class="col-12">
            <i class="fas fa-chevron-left"></i>
            <a href="{{ url_for('profile', username=session['user']) }}" class=" back-to-profile">Back to Profile</a>
        </div>
    </div>

{% endblock %}
