{% extends 'base.html' %}
{% set active_page = 'profile' %}

{% block content %}

    <div class="row">
        <div class="col s12">
            <h4 class="center-align" id="profile-heading">Edit {{user.first_name}}'s Profile</h4>
            <hr width="50%">
        </div>
    </div>
    <div class="container">
        <div class="row">
            <form class="col s6 offset-s3" method="POST" action="#">
                <div class="row">
                    <div class="input-field col s12">
                        <select class="options" id="gender" name="gender" required class="validate">
                            <option value="" required disabled selected>Please select gender</option>
                                {% for gender in gender %}
                                    <option value="{{ user.gender }}">{{ user.gender }}</option>
                                {% endfor %}
                        </select>
                    </div>
                </div>
                    <div class="col">
                        <!-- Enter DOB -->
                        <div class="row">
                            <label for="dob" class="col s12"><strong>Date of Birth</strong></label>
                            <div class="col s12">
                                <i class="fas fa-calendar-alt prefix light-blue-text text-darken-4"></i>
                                <input type="text" class="datepicker" id="dob" name="dob" class="form-control" placeholder="DD/MM/YYYY" required value="{{ dob }}"><br>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Email -->
                <div class="row">
                    <div class="input-field col s12">
                        <input type="text" id="email" name="email" class="validate" required>
                        <label for="email">Email</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <input id="phone" name="phone" type="tel" placeholder="Phone" pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="validate" required>
                        <label for="Phone"></label>
                    </div>
                </div>

                <!-- Update profile button-->
                <div class="row s12">
                    <div class="row s6">
                        <div class="btn-profile">
                            <button type="submit" class="btn btn-submit"><strong>Update Profile</strong></button>
                        </div>
                    <!-- Cancel Button -->
                        <div class="btn-profile">
                            <a href="{{ url_for('profile', username=session['user']) }}" class="btn cancel-button">Cancel</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <!-- Back to Profile -->
    <div class="row">
        <div class="col-12">
            <i class="fas fa-chevron-left"></i>
            <a href="{{ url_for('profile', username=session['user']) }}" class=" back-to-profile">Back to Profile</a>
        </div>
    </div>

{% endblock %}
